/* - - - - - - - - - - - - - - - - - - -  INICIO DEL CSS PARA LA SECCION ADMIN - - - - - - - - - - - - - - - - - - -  */

/* Padding que actuara al achicarse el ancho para que no quede pegado al lateral el Main */
@media screen and (max-width: 1200px){
    .admincontainer{
        padding: 0px var(--spacing-24);
    }
}

/* Barra de Busqueda */
.searchbar__form{
    display: flex;
    gap: var(--spacing-18);
    margin: var(--spacing-36) 0;
}

.searchbar__iconcontainer{
    max-width: 42px;
    align-items: center;

    padding: 2px 2px 0px;
    border-radius: 6px;
    border: solid 2px rgba(0, 0, 0, 0.0);
    transition: all .1s ease-in-out;
}

.searchbar__iconcontainer:hover{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border: solid 2px var(--secondary-color-900);
}

.searchbar__textinput{
    width: 100%;
    max-width: 530px;
    display: inline-block;

    font-size: var(--font-inter);
    font-family: var(--primary-font);
    padding: var(--spacing-8) var(--spacing-12);
    font-weight: 500;

    border-radius: 6px;
    border: 2px solid var(--dark-bg-color-solid);
}

.searchbar__textinput:focus{
    box-shadow: 0 0 10px 5px var(--secondary-color-500);
}


/* Barra de Titulo */
.tittlebar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tittlebar__tittle{
    font-family: var(--alternative-font);
    font-size: var(--font-jumbo);
    font-weight: 700;
    color: var(--dark-color-solid);
    letter-spacing: 0.168em;
    transition: font-size 1s ease-in-out;
}

.tittlebar__addbtn{
    display: flex;
    align-items: center;
    gap: var(--spacing-18);

    padding: calc(var(--spacing-8) * 0.5) var(--spacing-8);
    border-radius: 6px;
    border: solid 2px rgba(0, 0, 0, 0.0);
    transition: all .1s ease-in-out;
}

.tittlebar__addbtn:hover{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border: solid 2px var(--secondary-color-900);
}

.tittlebar__addbtn-text{
    font-family: var(--primary-font);
    font-size: var(--font-large);
    font-weight: 700;
    color: var(--dark-color-solid);
    letter-spacing: 0.096em;
    transition: font-size 1s ease-in-out;
}

.addbtnicon{
    font-size: var(--font-jumbo);
    color: var(--primary-color-solid);
    transition: font-size 1s ease-in-out;
}

/* Tabla para Listar los Productos */
.list-table{
    margin: var(--spacing-36) auto;
    width: 100%;
    border-collapse: collapse;
}

/* Encabezado Tabla */
.list-table th{
    padding: var(--spacing-12) var(--spacing-8) var(--spacing-36);
    font-family: var(--primary-font);
    font-size: var(--font-large);
    font-weight: 700;
    letter-spacing: 0.096em;
    transition: font-size 1s ease-in-out;
}

.list-table__TH-id{
    text-align: center;
}

.list-table__TH-name{
    text-align: left;
}

.list-table__TH-categ{
    text-align: left;
}

/* Cuerpo Tabla */
.list-table td{
    padding: var(--spacing-12) var(--spacing-8);   
    font-family: var(--primary-font);
    font-size: var(--font-large);
    font-weight: 500;
    letter-spacing: 0.096em;
    transition: font-size 1s ease-in-out;
    transition: background-color .05s ease-in-out;
}

.list-table tbody tr:hover{
    background-color: var(--secondary-color-300);
  }

.list-table__id{
    border-radius: calc(var(--font-xsmall) * 0.5) 0px 0px calc(var(--font-xsmall) * 0.5);
    text-align: center;
  }

.list-table__code{
    text-align: center;
  }

.list-table__action{
    text-align: left;
    border-radius: 0px calc(var(--font-xsmall) * 0.5) calc(var(--font-xsmall) * 0.5) 0px;
}

.list-table__iconcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: var(--spacing-18);
    padding-right: var(--spacing-16);
}

.editbtnicon{
    font-size: calc(var(--font-xsmall) * 0.7);
    color: var(--secondary-color-solid);

    padding: calc(var(--spacing-8) * 0.8);
    border-radius: 6px;
    border: solid 2px rgba(0, 0, 0, 0.0);
    transition: all .1s ease-in-out;
}

.editbtnicon:hover{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border: solid 2px var(--green-color-900);
}

.deletebtnicon{
    font-size: calc(var(--font-xsmall) * 0.7);
    color: var(--primary-color-solid);
    
    padding: calc(var(--spacing-8) * 0.8);

    border-radius: 6px;
    border: solid 2px rgba(0, 0, 0, 0.0);
    transition: all .1s ease-in-out;
}

.deletebtnicon:hover{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border: solid 2px var(--primary-color-900);
}
/* Fin Tabla para Listar Productos */


/* Reducimos el tamaño de fuentes en pantallas chicas */
@media screen and (min-width: 641px) and (max-width: 1024px) {
    .tittlebar__tittle{
        font-size: calc(var(--font-jumbo) * 0.8);
    }

    .tittlebar__addbtn-text{
        font-size: calc(var(--font-large) * 0.8);
    }

    .addbtnicon{
        font-size: calc(var(--font-jumbo) * 0.8);
    }

    .list-table th{
        font-size: calc(var(--font-large) * 0.8);
    }
    
    .list-table td{
        font-size: calc(var(--font-large) * 0.8);
    }

    .list-table__iconcontainer{
        gap: calc(var(--spacing-18) * 0.8);
    }

    .editbtnicon {
        font-size: calc(var(--font-xsmall) * 0.8);
    }

    .deletebtnicon {
        font-size: calc(var(--font-xsmall) * 0.8);
    }
}

@media screen and (max-width: 640px) {
    .tittlebar__tittle{
        font-size: calc(var(--font-jumbo) * 0.6);
    }

    .tittlebar__addbtn-text{
        font-size: calc(var(--font-large) * 0.6);
    }

    .addbtnicon{
        font-size: calc(var(--font-jumbo) * 0.6);
    }

    .list-table th{
        font-size: calc(var(--font-large) * 0.6);
    }
    
    .list-table td{
        font-size: calc(var(--font-large) * 0.6);
    }

    .list-table__iconcontainer{
        gap: calc(var(--spacing-18) * 0.4);
    }

    .editbtnicon {
        font-size: calc(var(--font-xsmall) * 0.7);
    }

    .deletebtnicon {
        font-size: calc(var(--font-xsmall) * 0.7);
    }
}
/* - - - - - - - - - - - - - - - - - - -  FINAL DEL CSS PARA LA SECCION ADMIN - - - - - - - - - - - - - - - - - - -  */