/* - - - - - - - - - - - - - - - - - - -  INICIO DEL CSS PARA LA SECCION SHOP - - - - - - - - - - - - - - - - - - -  */


.shopcontainer{
    display: flex;
    padding: var(--spacing-68) 0;
}


/* ASIDE PARA FILTRADO */

.asidefilter{
    max-width: 30%;
}

.asidefilter__tags{
    display: block;
    margin-top: var(--spacing-18);
    margin-bottom: var(--spacing-8);
    color: var(--dark-color-solid);
    font-family: var(--primary-font);
    font-size: var(--font-large);
    font-weight: 500;
}

.asidefilter__textinput{
    font-size: var(--font-inter);
    font-family: var(--primary-font);
    padding: var(--spacing-8) var(--spacing-12);
    font-weight: 500;
    
    width: 80%;
    display: inline-block;
    border: 2px solid var(--dark-bg-color-solid);
    border-radius: 6px;
}

.asidefilter__textinput:focus{
    box-shadow: 0 0 10px 5px var(--secondary-color-500);
}

.asidefilter__select{
    font-size: var(--font-inter);
    font-family: var(--primary-font);
    padding: var(--spacing-8) var(--spacing-12);
    font-weight: 500;
    
    width: 80%;
    display: inline-block;
    border: 2px solid var(--dark-bg-color-solid);
    border-radius: 6px;
    background-color: var(--light-bg-color-solid);
}

.selectempty{
    color: var(--gray-color-solid);
}

.selectfull{
    color: var(--dark-color-solid);
}

.asidefilter__select:focus{
    box-shadow: 0 0 10px 5px var(--secondary-color-500);
}


.asidefilter__tagsMM{
    display: inline-block;
    margin-top: var(--spacing-18);
    margin-bottom: var(--spacing-8);
    color: var(--dark-color-solid);
    font-family: var(--primary-font);
    font-size: var(--font-small);
    font-weight: 500;
}

.asidefilter__textinputMM{
    width: 25%;
    height: 3rem;
    display: inline-block;
    margin: 0 var(--spacing-8);

    font-size: var(--font-inter);
    font-family: var(--primary-font);
    padding: var(--spacing-8) var(--spacing-8);
    font-weight: 500;
    text-align: center;
    
    border-radius: 6px;
    border: 2px solid var(--dark-bg-color-solid);
}

.asidefilter__textinputMM:focus{
    box-shadow: 0 0 10px 5px var(--secondary-color-500);
}

.asidefilter_checkbox{
    margin: var(--spacing-12);
    transform: scale(1.5);
}

.asidefilter__checkoptions{
    color: var(--dark-color-solid);
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: var(--font-medium);
}



/* CUERPO PRINCIPAL DE VISUALIZACION */

.main__articles{
    max-width: 70%;
}

.card__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



/* INICIO DE LA CARD */

.slider__card{
    max-width: 30%;
    margin: var(--spacing-18) 0;
}

/* Animacion para el cambio de imagen suave de la card */
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


.card__imagecontainer{
    position: relative;
}

.card__prodimage, .card__boximage{
    max-width: 355px;
    animation: fade 0.9s;
}

.card__prodimage{
    display: inline-block; 
}

.card__boximage{
    display: none;
}

.card__imagecontainer:hover{
    .card__prodimage{
        display: none;
    }
    .card__boximage{
        display: inline-block;
    }

}

.card__newprod{
    position: absolute;
    right: 0;
    background-color: var(--primary-color-solid);
    font-family: var(--primary-font);
    font-size: var(--font-xsmall);
    color: var(--light-color-solid);
    font-weight: 500;
    padding: var(--spacing-8) var(--spacing-24);
    z-index: 2;
}

.card__detailscontainer{
    min-width: 190px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
    padding: var(--spacing-16);
}

.card__prodfamily{
    color: var(--dark-color-solid);
    font-family: var(--primary-font);
    font-size: var(--font-xsmall);
    font-weight: 500;
}

.card__prodname{
    color: var(--dark-color-solid);
    font-family: var(--primary-font);
    font-size: var(--font-medium);
    font-weight: 700;
}

.card__prodprice{
    color: var(--dark-color-solid);
    font-family: var(--primary-font);
    font-size: var(--font-small);
    font-weight: 400;
}

.card__prodbill{
    color: var(--secondary-color-solid);
    font-family: var(--primary-font);
    font-size: var(--font-xsmall);
    font-weight: 700;
}

/* FIN DE LA CARD */





/* INICIO DEL PAGINADOR */

.paginator__navbar{
    margin: var(--spacing-68) auto 0 auto;
    max-width: 40rem;
    height: 4.4rem;
    display: flex;
    justify-content: space-between;
}

.paginator__button{
    height: 100%;
    width: 4.4rem;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border: solid 2px var(--dark-color-300);
    transition: all .1s ease-in-out;
    display: flex;
}

.shopselectedpage{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border: solid 2px var(--primary-color-solid);
    transition: all .1s ease-in-out;
}

.paginator__button:hover{
    border: solid 2px var(--secondary-color-900);
}

.shopselectedpage:hover{
    border: solid 2px var(--primary-color-solid);
}

.paginator__buttonicon{
    margin: auto;
    font-size: var(--font-large);
    font-weight: 700;

    color: var(--dark-color-solid);
}

.paginator__buttoncontent{
    margin: auto;
    font-size: var(--font-small);
    font-weight: 700;
    font-family: var(--primary-font);
    color: var(--dark-color-solid);
}

.shopselectedpagecontent{
    color: var(--primary-color-solid);
}

/* FIN DEL PAGINADOR */


/* FIN DE VISUALIZACION */


/* - - - - - - - - - - - - - - - - - - -  FINAL DEL CSS PARA LA SECCION SHOP - - - - - - - - - - - - - - - - - - -  */